* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'PixelArt';
    src: url('/Calculator/fonts/pixel.ttf') format('truetype');
}

@font-face {
    font-family: 'DisplayImage';
    src: url('/Calculator/fonts/digital.ttf') format('truetype');
}

body {
    background-color: #0e5c8f;
    font-family: 'PixelArt';
}

.container {
    background-color: #ffffff;
    padding: 20px;
    width: 450px;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.container-keys {
    margin: 0;
    padding: 10px;
    width: 90%;
    background-color: #f2f2f2;
    border: 6px solid #cccccc;
    border-radius: 15px;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.keys {
    padding: 8px;
    background-color: #ffee58;
    color: #333333;
    margin: 10px;
    border-radius: 10px;
    font-size: 2em;
    font-family: 'PixelArt';
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.1);
    user-select: none;
    cursor: pointer;
}

.keys:hover {
    background-color: #fff59d;
}

.keys:active {
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 6px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

.key-special {
    flex: 1;
    margin: 10px;
    padding: 8px;
    background-color: #ff5252;
    color: #ffffff;
    margin: 10px;
    border-radius: 15px;
    font-size: 2em;
    font-family: 'PixelArt';
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.1);
    user-select: none;
    cursor: pointer;

}

.key-special:hover {
    background-color: #ff1744;
}

.key-special:active {
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 6px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

.specialAlign {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.visor {
    color: #ff4081;
    background-color: #333333;
    text-align: right;
    width: 80%;
    margin: auto;
    padding: 10px;
    padding-right: 40px;
    border: 8px solid #ff4081;
    border-radius: 20px;
    font-size: 3.5em;
    font-family: 'DisplayImage';
    font-weight: 700;
    text-shadow: 2px 2px 15px rgba(255, 64, 129, 0.5);
    box-shadow: inset 15px 10px 20px 20px rgba(0, 0, 0, 0.1);
}